<h1 class="text-center mb-4">Welcome to my todolist app</h1>

<%= render 'layouts/task_form'  %>

<h1>
  <a href="#" class="left">left</a>
  <a href="#" class="right">right</a>
</h1><br><br>


<div class="container">
  <div class="row">
    <% @tasks.each_with_index do |task, i|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle-#{i}" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="container" id='tabs'>
  <ul class="nav nav-tabs">
  <% @categories.each_with_index do  |category, i|%>
      <li class="nav-item" ><a class="nav-link tab-link" href='#' id=<%= category.title %> ><%= category.title  %></a></li>
    <% end %>
  </ul>
  <% @categories.each_with_index do  |category, i|%>
  <div class="card category-todo" id=<%= "category-todo-#{category.title}" %> >
    <ul>
      <% category.tasks.each do |task|  %>
      <li>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div><br><br>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
